<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>All Trees</title>
</head>
<body>
    <div id="wrapper">
        <nav>
            <div id="titles">
                <h1>Arbortrary</h1>
                <p>A site to track randomly planted trees</p>
            </div>
            <div id="routes">
                <a href="/user/account">My Trees</a>
                <h2>Welcome, {{logged_user.first_name}}!</h2>
                <button type="submit"><a href="/new/tree">Plant a Tree</a></button>
                <button type="submit"><a href="/logout">logout</a></button>
            </div>
        </nav>
        <table>
            <thead>
                <th>Species</th>
                <th>Poseted By</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for this_tree in all_arbortrary%}
                <tr>
                    <td>{{this_tree.species}}</td>
                    <td>{{this_tree.user.first_name}}</td>
                    <td><a href="/show/{{this_tree.id}}">details</a></td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>