<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Add Arbortrary</title>
</head>
<body>
    <div id="wrapper">
        <nav>
            <div id="titles">
                <h1>Arbortrary</h1>
                <p>A site to track randomly planted trees</p>
            </div>
            <div id="routes">
                <a href="/user/account">My Trees</a>
                <h2>Welcome, {{this_tree.user.first_name}}!</h2>
                <button type="submit"><a href="/dashboard">Dashboard</a></button>
                <button type="submit"><a href="/logout">logout</a></button>
            </div>
        </nav>
        <h2>Re-Plant a Tree</h2>
        <form action="/arbortrary/edit_db/{{ this_tree.id }}" method="post">
            {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input type="hidden" name="id" value="{{ this_tree.id }}">
            <div>
                <label for="species">Species</label><br>
                <input type="text" name="species" id="species" value="{{ this_tree.species }}">
            </div>
            <div>
                <label for="location">Location</label><br>
                <input type="text" name="location" id="location" value="{{ this_tree.location }}">
            </div>
            <div>
                <label for="reason">reason</label><br>
                <input type="text" name="reason" id="reason" value="{{ this_tree.reason }}">
            </div>
            <div>
                <label for="date_planted">Date Planted</label><br>
                <input type="date" name="date_planted" id="date_planted"  value="{{ this_tree.date_planted }}">
            </div>
            <button type="submit">Update</button>
        </form>
    </div>
    
</body>
</html>