<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>View Tree</title>
</head>
<body>
    <div id="wrapper">
    <nav>
        <div id="titles">
            <h1>Arbortrary</h1>
            <p>A site to track randomly planted trees</p>
        </div>
        <div id="routes">
            <a href="/user/account">My Trees</a>
            <h2>Welcome, {{this_tree.user.first_name}}!</h2>
            <button type="submit"><a href="/dashboard">Dashboard</a></button>
            <button type="submit"><a href="/logout">logout</a></button>
        </div>
    </nav>
    <h1>{{ this_tree.species }} planted by {{ this_tree.user.first_name }}</h1>
    <p>Where: {{this_tree.location}}</p>
    <p>When: {{this_tree.date_planted}}</p>
    <p>Reason: {{this_tree.reason}}</p>
</div>
</body>
</html>