<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>View Dojo</title>
</head>
<body>
    <h1>{{ one_dojo.name}} Ninjas</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for this_ninja in one_dojo.ninjas %}
            <tr>
                <td>{{this_ninja.first_name}}</td>
                <td>{{this_ninja.last_name}}</td>
                <td>{{this_ninja.age}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">home</a>
</body>
</html>